<h2>All Questions:</h2>
<div class="questions-list">
  <% @questions.each do |question| %>
    <%= render :partial => 'shared/question_display', locals: { question: question } %>
  <% end %>
</div>

<% if logged_in? %>
  <h3>Create New Question:</h3>
  <%= render :partial => 'shared/new_question_form' %>
<% end %>