<li class="comment-display">
  <%= "#{comment.content}" %> (<a class="comment-user-link" href="/users/<%= comment.user.id %>"><%= "#{comment.user.full_name}" %></a> at <%= "#{comment.created_at.strftime("%m-%d-%y at %H:%M")})" %>
</li>