header, .container {
  width: 90%;
  margin: 0 auto;
}

header {
  text-align: center;
}

nav {
  text-align: center;
  margin: 0 auto;
}
.nav-pills li{
  background-color: #ecf0f1;
  border-radius: 5px;
  display: inline-block;
  float: none;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 5px;
}
ul {
  list-style: none;
}

label {
  display: inline-block;
  width: 150px;
}

.hidden {
  display: none;
}

textarea {
  width: 500px;
  height: 50px;
}

.question-display h4 {
  margin-bottom: 0;
  margin-top: 0;
}
.question-display p {
  margin-top:0;
}

.question-content, .answer-content {
  display:inline-block;
  width: 80%;
}

.question-details {
  font-size: .8em;
  display: block;
}

.question-display {
  /*border: 2px solid black;*/
  min-height: 40px;
  margin-bottom: 5px;
  padding: 10px;
  background-color: #bdc3c7;
  border-radius: 10px;
}

.votes {
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  width: 15%;
  vertical-align: top;
}

.vote_total {
  margin-left: 9px;
  font-size: 1.3em;
}

.answer {
  /*border: 1px solid black;*/
  min-height: 40px;
  margin-bottom: 5px;
  padding: 0 10px;
  background-color: #ecf0f1;
  border-radius: 10px;
}

.comment-list {
  border-top: 1px solid black;
}

.comment-list ul {
  margin-top: 5px;
  margin-bottom: 5px;
}
.comment-list-header {
  font-size: .8em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.comment-display {
  color: grey;
  font-size: .8em;
  border-bottom: 1px dotted black;
}

.error_messages {
  color:red;
}
