
/* #############################################
GENERAL
############################################# */

header, .container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

header {
  text-align: center;
}

ul {
  list-style: none;
}

.hidden {
  display: none;
}

.error_messages {
  color:red;
}

/* #############################################
NAVIGATION BAR
############################################# */
.nav-pills li{
  background-color: #ecf0f1;
}


/* #############################################
TEXT INPUT FIELDS
############################################# */

label {
  display: inline-block;
  width: 165px;
  margin-top: 3px;
  vertical-align: top;
}

textarea {
  width: 75%;
  height: 50px;
}

#comment_content, #question_title {
  width: 75%;
  margin-bottom: 5px;
}

input[type='text'], input[type='email'], input[type='password'] {
  margin-bottom: 5px;
}


/* #############################################
QUESTIONS
############################################# */

.question-display h4 {
  margin-bottom: 5px;
  margin-top: 0;
}

.question-display p {
  margin-top:0;
}

.question-content, .answer-content {
  display:inline-block;
  width: 80%;
}

.question-details {
  font-size: .8em;
  display: block;
}

.question-display {
  min-height: 40px;
  margin-bottom: 5px;
  padding: 10px;
  background-color: #bdc3c7;
  border-radius: 10px;
}

.question-crud-link {
  padding: 10px 10px 10px 0;
  font-size: 1.25em;
}


/* #############################################
ANSWERS
############################################# */

.answer {
  min-height: 40px;
  margin-bottom: 5px;
  padding: 10px;
  background-color: #ecf0f1;
  border-radius: 10px;
}

.answer-content p {
  min-height: 55px;
}

.answer-details {
  font-size: .8em;
  display: block;
}


/* #############################################
COMMENTS
############################################# */

.comment-list {
  border-top: 1px solid black;
}

.comment-list ul {
  margin-top: 5px;
  margin-bottom: 5px;
}
.comment-list-header {
  font-size: .8em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.comment-display {
  color: grey;
  font-size: .8em;
  border-bottom: 1px dotted black;
}

.comment-form-link {
  font-size: 1.25em;
}


/* #############################################
VOTES
############################################# */

.votes {
  margin-top: 0px;
  margin-bottom: 5px;
  display: inline-block;
  width: 15%;
  vertical-align: top;
  text-align: right;
}

.vote_total {
  margin-right: 10px;
  font-size: 1.3em;
}

.upvote-button img, .downvote-button img {
  width: 15px;
}


/* #############################################
MEDIA QUERIES
############################################# */

@media (max-width: 600px) {
  ul {
  padding: 0;
  }

  textarea {
    width: 90%;
    height: 50px;
  }

  #comment_content, #question_title {
    width: 90%;
    margin-bottom: 5px;
  }
}
