header, .container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

header {
  text-align: center;
}


.nav-pills li{
  background-color: #ecf0f1;
  /*border-radius: 5px;*/
  /*display: inline-block;*/
  /*float: none;*/
}


ul {
  list-style: none;
  /*padding: 0;*/
}

label {
  display: inline-block;
  width: 150px;
}

.hidden {
  display: none;
}

textarea {
  width: 75%;
  height: 50px;
}

#comment_content {
  width: 60%;
}

.question-display h4 {
  margin-bottom: 0;
  margin-top: 0;
}
.question-display p {
  margin-top:0;
}

.question-content, .answer-content {
  display:inline-block;
  width: 80%;
}

.question-details {
  font-size: .8em;
  display: block;
}

.question-display {
  /*border: 2px solid black;*/
  min-height: 40px;
  margin-bottom: 5px;
  padding: 10px;
  background-color: #bdc3c7;
  border-radius: 10px;
}

.question-crud-link {
  padding: 10px 10px 10px 0;
  font-size: 1.25em;
}

.votes {
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  width: 15%;
  vertical-align: top;
  text-align: right;
}

.vote_total {
  margin-right: 10px;
  font-size: 1.3em;
}

.upvote-button img, .downvote-button img {
  width: 15px;
}



.answer {
  /*border: 1px solid black;*/
  min-height: 40px;
  margin-bottom: 5px;
  padding: 0 10px;
  background-color: #ecf0f1;
  border-radius: 10px;
}

.comment-list {
  border-top: 1px solid black;
}

.comment-list ul {
  margin-top: 5px;
  margin-bottom: 5px;
}
.comment-list-header {
  font-size: .8em;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.comment-display {
  color: grey;
  font-size: .8em;
  border-bottom: 1px dotted black;
}

.comment-form-link {
  font-size: 1.25em;
}

.error_messages {
  color:red;
}

@media (max-width: 600px) {
  ul {
  padding: 0;
  }
}
